@import "header";
@import "nav";
@import "footer";

/* Structure */ 

body{
    margin:0;
}

.flex-container {
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.wrap{
    flex-wrap: wrap;
}


/* Content */

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}


#content{
    margin:auto;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    &>div{/* &> only select direct child */
        position: relative;
        &:hover{
            box-shadow: 10px 10px gray;
            transition: 1s;
        }
        div{
            position:absolute;
            text-align: center;
            background-color: black;
            width: 100%;
            height: 15%;
            opacity: 0.7;
            bottom: 0;
            padding-bottom: 20px;
            p{
                opacity: 1;
                color: white;
            }
        }
    }
}

/* Recipe of the Month */

article{
    width: 80vw;
    margin: 0 auto;
    padding: 2% 5% 2% 5%;
}

.heroimg{
    width: 100%;
    height: auto;
    max-height: 300px;
    aspect-ratio: 16 /10;
}

.shoplist{
    width: 33%;
    background-color: rgba(185, 185, 185, 0.318);
    padding: 20px;
}

.prep{
    padding: 20px;
}

/* Media Queries */

@media (min-width: 600px){
    #content{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 992px){
    #content{
        grid-template-columns: repeat(3, 1fr);
    }
}